.userList {
    margin: 30px 0px;
    background-color: #fff;
    width: 800px;
    border-radius: 20px;
    
}

.inside {
    border: 1px solid rgba(0,0,0, 0.2);
    padding: 10px 17px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


@media (max-width:950px) {
    .userList {
        width: 90%;
    }
}